<h1 class="text-center">Le détail du produit</h1>
<h2 class="text-center">
  Product <%= @product.name %>
</h2>
<h3 class="text-center">
  Url : <%= @product.url %>
</h3>

<p class="text-center">
  <%= link_to "Edit", edit_product_path(@product), class: "btn btn-warning" %>
  <%= link_to "Delete", product_path(@product), method: :delete, class: "btn btn-danger" %>
  <%= link_to "Tous les produits", products_path, class: "btn btn-primary" %>
</p>
